<section>
    <div class="container mt-5">
        <form action="" id="checkout-form">
            <div class="row">
                <h2>Enter Delivery Details</h2><br>
                <div>
                    <label for="">Address</label>
                    <input class="form-control" type="text" id="address" name="address">
                    <label for="">Pincode</label>
                    <input class="form-control" type="text" id="pincode" name="pincode">
                    <label for="">Mobile</label>
                    <input class="form-control" type="text" id="mobile" name="mobile">
                    <input type="text" name="userId" id="" value="{{user._id}}" hidden>
                </div>
            </div>
            <div class="col-md-4">
                <div class="container mt-5 ml-5 checkout">
                    <h5>Total Ammount : Rs.{{total}}</h5>
                    <hr>
                    <div class="payment">
                        <p>Payment Method</p>
                        <input type="radio" name="payment-method" value="COD">
                        <label class="radio-inline">Checked COD</label><br>
                        <input type="radio" name="payment-method" value="ONLINE">
                        <label class="radio-inline mt-2">Online Payment</label><br><br>
                        <button class="btn btn-primary" type="submit">Checkout</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>



<script>
    $("#checkout-form").submit((e) => {
        e.preventDefault()
        $.ajax({
            url: 'place-order',
            method: 'post',
            data: $('#checkout-form').serialize(),
            success: (response) => {
                if (response.codSuccess) {
                    location.href = '/order-success'
                }
                else {
                    razorpayPayment(response)
                }
            }
        })
    })

    function razorpayPayment(order) {
        var options = {
            "key": "rzp_test_u8uz7rfj0GVUXE",
            "amount": order.amount,
            "currency": "INR",
            "name": "JK Corp",
            "description": "Test Transaction",
            "image": "https://example.com/your_logo",
            "order_id": order.id,
            "callback_url": "https://eneqd3r9zrjok.x.pipedream.net/",
            "handler":function (response){

                verifyPayment(response,order)
            },
            "prefill": {
                "name": "Gaurav Kumar",
                "email": "gaurav.kumar@example.com",
                "contact": "9000090000"
            },
            "notes": {
                "address": "Razorpay Corporate Office"
            },
            "theme": {
                "color": "#3399cc"
            }
        };
        var rzp1 = new Razorpay(options);
        rzp1.open();
    }
    function verifyPayment(payment,order){
        $.ajax({
            url:'/verify-payment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
                if (response.status){
                    location.href = '/order-success'
                }
                else{
                    alert('Payment Failed')
                }
            }
        })
    }
</script>